@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
    font-family: 'Manjari', sans-serif;
    background-color: #ffffff;
}

nav {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

ul{
    text-align: center;
    padding-left: 0;
}

h1{
    text-align: center;
}

/* Arron */



/* Braydon */



/* Heather */ 



/* Kass */