@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
    font-family: 'Manjari', sans-serif;
    background-color: #ffffff;
}

nav {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-image: url("wewd.jpeg");
}

a{
    color: white;
}

a:visited{
    color: rgb(228, 228, 228);
}

ul{
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    
}

h1{
    text-align: center;
}

/* Arron */



/* Braydon */



/* Heather */ 



/* Kass */